{% extends "base.html" %}

{% block nav %}
<ul class="nav justify-content-center">
    {% for item in navData %}
    {% if item==firstNav %}
    <li class="nav-item" onclick="openContent(event,'{{item}}')" id="defaultOpen">
        <a href="#" class="nav-link active" aria-current="page">{{item}}</a>
    </li>
    {% else%}
    <li class="nav-item" onclick="openContent(event,'{{item}}')">
        <a href="#" class="nav-link">{{item}}</a>
    </li>
    {% endif %}
    {% endfor %}
    <div id="inputForm">
        <form class="d-flex" action="" method = "post" keyup="if (event.keyCode==13){getList()}">
            <input type="text" style="display: none;">
            <input class="form-control me-2" type="text" placeholder="input stock id here" aria-label="Search" value="1101"
                name="stockId" id="stockId" >
            
            <button class="btn btn-outline-primary" type="button"  onclick="return createAllContent()" >submit</button>
        </form>
    </div>

</ul>
{% endblock %}

{% block content %}
{% for item in navData %}
<div id="{{item}}" class="tabcontent">
    <h3>{{item}}</h3>
    <div>
        <table class="table" id="{{item+" -table"}}">

        </table>
    </div>
</div>
{% endfor %}
<div id="overlay">
    <div id="loader"></div>
</div>

{% endblock %}

{% block script %}
<script src="../static/main.js"></script>
{% endblock %}